@import './styles/mixins.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: #01399a;
      --color-secondary: #011d56;
    }
}

$border-gradient: linear-gradient(-72deg,#dedede,#ffffff 16%,#dedede 21%,#ffffff 24%,#454545 27%,#dedede 36%,#ffffff 45%,#ffffff 60%,#dedede 72%,#ffffff 80%,#dedede 84%,#a1a1a1);
$background-gradient: linear-gradient(180deg, var(--color-primary), var(--color-secondary));

body {
    @apply bg-[#04123f] min-h-screen text-white overflow-hidden;
}

#root{
    @apply min-h-screen m-0 p-0 overflow-hidden;
}

$priColor: #E04E5E;

.questionBox {
    @apply bg-blue-900 m-auto p-2 md:p-6 ;
    @include gradient-border($border-gradient, 0.4rem, 4px);
    // @apply border-[3px] rounded-xl shadow-2xl relative;
    background: $background-gradient;

    &:after {
        @apply content-[""] w-screen h-[3px] absolute bg-[#e1dede] left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[-1];
    }

}

.answerBox {
    @apply text-base md:text-2xl bg-blue-900 p-2 text-center cursor-pointer transition-all shadow-md;
    @apply border-[2px] md:border-[2px] rounded-md shadow-2xl relative active:scale-95 hover:contrast-125 transition-all;
    background: $background-gradient;

    &:nth-child(odd)::after,
    &:nth-child(even)::after {
        @apply content-[""] w-[50vw] h-[2px] absolute bg-[#e1dede] top-1/2 transform -translate-y-1/2 z-[-1];
    }

    &:nth-child(odd)::after {
        @apply  -left-[50vw];
    }
    &:nth-child(even)::after {
        @apply  -right-[50vw];
    }

    &.pending {
        background: linear-gradient(-72deg, #dedede, #ffffff 16%, #dedede 21%, #ffffff 24%, #dedede 36%, #ffffff 45%, #ffffff 60%, #dedede 72%, #ffffff 80%, #dedede 84%, #a1a1a1);
        @apply text-black border-2 rounded-[0.35rem] border-white;
    }

    &.wrong,
    &.right {
        background: unset;
        @apply text-white border-2 rounded-[0.35rem];
    }

    &.wrong {
        @apply border-red-400  bg-gradient-to-b from-red-500 to-red-800 after:bg-red-500
    }

    &.right {
        @apply  border-green-300 bg-gradient-to-b from-green-500 to-green-800 after:bg-green-400;
    }
}

.timer-border {
    @include gradient-border($border-gradient, 100%, 0.35rem);
    // @apply rounded-full border-zinc-200 border-[6px];
    background: $background-gradient;

}